.MakeMoney {
    width: 1480px;
    margin: 0 auto;
}

.MakeMoney .name {
    background: black;
    height: 60px;
    display: flex;
    align-items: center;
}

.MakeMoney .name .title {
    width: 1200px;
    margin: 0 auto;
    color: white;
    font-size: 22px;
}

.MakeMoney .choose .button {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.MakeMoney .choose .button .checkbox {
    float: left;
    appearance: none;
    border: 1.5px solid gainsboro;
    border-radius: 50px;
    width: 20px;
    margin-left: -30px;
    height: 20px;
}

.MakeMoney .choose .button .checkbox:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #1D2088;
}

.MakeMoney .choose .choose_name {
    text-align: center;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.02em;
    font-size: 16px;
    margin-top: 60px;
}

.MakeMoney .choose .check_money {
    width: 350px;
    height: 350px;
    font-weight: 400;
    margin-left: 15px;
    font-size: 18px;
    line-height: 41px;
    letter-spacing: -0.02em;
    background: white;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.MakeMoney .choose .check_money .money {
    width: 280px;
    height: 280px;
    display: flex;
    margin: auto;
}

.MakeMoney .choose .check_article {
    width: 350px;
    height: 350px;
    font-weight: 400;
    margin-left: 15px;
    font-size: 18px;
    line-height: 41px;
    letter-spacing: -0.02em;
    background: white;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.MakeMoney .choose .check_article .article {
    width: 280px;
    height: 280px;
    display: flex;
    margin: auto;
}

.MakeMoney .hr {
    margin: 150px 0 100px 0;
}

.MakeMoney .main_text {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 240px;
}

.MakeMoney .main_text .under_text {
    display: flex;
    justify-content: space-between;
}

.MakeMoney .main_text .under_text .text_left {
    width: 286px;
}

.MakeMoney .main_text .under_text .text_right {
    width: 560px;
}

.MakeMoney .main_text .text {
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #000000;
    display: flex;
    align-items: center;
}

.MakeMoney .main_text .cartagori_text {
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 0;
}

.MakeMoney .main_text .explanation {
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A4A4A4;
}

.MakeMoney .main_text .text_box {
    width: 280px;
    height: 40px;
    border: 1px solid #A4A4A4;
}

.MakeMoney .main_text .bank {
    width: 286px;
    height: 45px;
    border: 1px solid #A4A4A4;
    font-size: 15px;
}

.MakeMoney input {
    outline: none;

}

.MakeMoney .main_text .detail_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #A4A4A4;
    padding-left: 10px;
}

.MakeMoney .main_text .pictures {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.MakeMoney .main_text .image {
    display: flex;
    width: 160px;
    height: 158px;
    background-color: white;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    background-image: url('../image/picture.png');
    background-repeat: no-repeat;
    background-position: center;
}

.MakeMoney .main_text .button {
    width: 560px;
    display: flex;
    justify-content: space-between;
}

.MakeMoney .main_text .back {
    width: 260px;
    height: 55px;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #1D2088;
    border: 1px solid #1D2088;
}

.MakeMoney .main_text .make_donation {
    width: 260px;
    height: 55px;
    background: #1D2088;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
}